<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Programming Test</title>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/test.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
        <script src="js/script.js"></script>
        
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <h1 class="header__title">Конструктор тестов</h1>
            </header>
            <form class="content">
                <h2 class="content__title-label">Название теста</h2>
                <input type="text" class="content__title-input"></input>
                <button class="content__add-question">Добавить вопрос...</button>
                <button class="content__save-test">Создать тест</button>
            </form>
        </div>
        <!-- Template for generating test -->
        <script type="text/template" id="generate-test">
            <header class="header">
                <p class="header__title"><%= data.title%></p>
            </header>
            <form class="content">
                <% for (var i = 0; i < data.questions.length; i++) { %>
                    <p class="content__question"><%= i+1%>. <%=data.questions[i].question%></p>
                    <% var inputType = data.questions[i].correctAnswer.length === 1 ? 'radio' : 'checkbox'; %>
                    <% for (var j = 0; j < data.questions[i].possibleAnswer.length; j++) { %>
                        <div class="content__answer">
                            <label>
                                <input type="<%= inputType%>" class="content__possible-answer" name="question<%=i+1%>" value="answer<%= j+1%>">
                                <%= data.questions[i].possibleAnswer[j]%>
                            </label>
                        </div>
                        
                    <% }; %>
                <% }; %>
                <button type="input" class="content__submit">Проверить</button>
            </form>
      </script>
  </body>
</html>