<footer class="footer">
	<div class="wrapper">
		<p class="footer__title">Urlaubsglück</p>
		<div class="footer__company-block">
			<p class="footer__company">Company</p>
			<ul class="footer__menu">
				<li class="footer__menu-item"><a href="#" class="footer__item-link">About</a></li>
				<li class="footer__menu-item"><a href="#" class="footer__item-link">Contacts</a></li>
				<li class="footer__menu-item"><a href="#" class="footer__item-link">Press</a></li>
				<li class="footer__menu-item"><a href="#" class="footer__item-link">Blog</a></li>
			</ul>
		</div>
		<p class="footer__partners">Partners</p>
		<div class="footer__designed-block">
			<p class="footer__designed-by">Designed by</p>
			<img src="../img/logo-areto.png" alt="areto" class="footer_logo-areto">
		</div>
	</div>
</footer>