<div class="how-works">
	<div class="wrapper">
		<h2 class="how-works__title">How Urlaubsglück works?</h2>
		<div class="carousel-left">
			<!-- <img src="img/arrow-prev.png" alt="" class="arrow-left"> -->
			<!-- <img src="img/arrow-next.png" alt="" class="arrow-right"> -->
			<div class="how-works__step carousel-cell">
				<p class="how-works__step-number">Step 1</p>
				<h3 class="how-works__step-title">Sed leo enim, condimentum</h3>
				<p class="how-works__step-content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
			<div class="how-works__step how-works_step2 carousel-cell">
				<p class="how-works__step-number">Step 2</p>
				<h3 class="how-works__step-title">Morbi velit risus</h3>
				<p class="how-works__step-content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
			</div>
			<div class="how-works__step how-works_step3">
				<p class="how-works__step-number">Step 3</p>
				<h3 class="how-works__step-title">Sed leo enim, 		condimentum</h3>
				<p class="how-works__step-content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
		</div>
		<div class="carousel-center">
			<!-- <img src="img/arrow-prev.png" alt="" class="arrow-left"> -->
			<!-- <img src="img/arrow-next.png" alt="" class="arrow-right"> -->
			<div class="how-works__step carousel-cell">
				<p class="how-works__step-number">Step 1</p>
				<h3 class="how-works__step-title">Sed leo enim, condimentum</h3>
				<p class="how-works__step-content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
			<div class="how-works__step how-works_step2 carousel-cell">
				<p class="how-works__step-number">Step 2</p>
				<h3 class="how-works__step-title">Morbi velit risus</h3>
				<p class="how-works__step-content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
			</div>
			<div class="how-works__step how-works_step3">
				<p class="how-works__step-number">Step 3</p>
				<h3 class="how-works__step-title">Sed leo enim, 		condimentum</h3>
				<p class="how-works__step-content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
		</div>
		<div class="carousel-right">
			<!-- <img src="img/arrow-prev.png" alt="" class="arrow-left"> -->
			<!-- <img src="img/arrow-next.png" alt="" class="arrow-right"> -->
			<div class="how-works__step carousel-cell">
				<p class="how-works__step-number">Step 1</p>
				<h3 class="how-works__step-title">Sed leo enim, condimentum</h3>
				<p class="how-works__step-content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
			<div class="how-works__step how-works_step2 carousel-cell">
				<p class="how-works__step-number">Step 2</p>
				<h3 class="how-works__step-title">Morbi velit risus</h3>
				<p class="how-works__step-content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
			</div>
			<div class="how-works__step how-works_step3">
				<p class="how-works__step-number">Step 3</p>
				<h3 class="how-works__step-title">Sed leo enim, 		condimentum</h3>
				<p class="how-works__step-content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
		</div>
	</div>
</div>