<div class="partners">
	<div class="wrapper">
		<h2 class="partners__title">Meet a partner for your best holiday</h2>
		<div class="partners__left-side">
			<div class="partners__partner-block">
				<figure class="partners__avatar">
					<!-- <img src="../img/partner1-icon.png" alt="#" class="partners__icon"> -->
					<span class="partners__icon"></span>
				</figure>
				<p class="partners__name">Bradley Hunter</p>
				<p class="partners__about">Based in Chicago. I love playing tennis and loud music.</p>
			</div>
			<div class="partners__partner-block partners__partner2">
				<figure class="partners__avatar">
					<!-- <img src="../img/partner1-icon.png" alt="#" class="partners__icon"> -->
					<span class="partners__icon"></span>
				</figure>
				<p class="partners__name">Lucas Marsha</p>
				<p class="partners__about">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
			</div>
		</div>
		<div class="partners__right-side">
			<div class="partners__partner-block partners__partner3">
				<figure class="partners__avatar">
					<!-- <img src="../img/partner1-icon.png" alt="#" class="partners__icon"> -->
					<span class="partners__icon"></span>
				</figure>
				<p class="partners__name">Heather Walker</p>
				<p class="partners__about">I'm a happy person that loves cats and climbing on mountains.</p>
			</div>
			<div class="partners__partner-block partners__partner4">
				<figure class="partners__avatar">
					<!-- <img src="../img/partner1-icon.png" alt="#" class="partners__icon"> -->
					<span class="partners__icon"></span>
				</figure>
				<p class="partners__name">Bradley Hunter</p>
				<p class="partners__about">Based in Chicago. I love playing tennis and loud music.</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<a href="#" class="partners__see-other">See other partners</a>
	</div>
</div>