<div class="promo">
	<div class="wrapper">
		<ul class="promo__registration">
			<li class="promo__reg-item"><a href="#" class="promo__login-link">Log in</a></li>
			<li class="promo__reg-item"><a href="#" class="promo__signup-link">Sign up</a></li>
		</ul>
		<h1 class="promo__title">Urlaubsglück</h1>
		<h2 class="promo__share-dreams">Share your holiday Dreams</h2>
		<p class="promo__under-title">And find the perfect partner to fullfill it</p>
		<button class="promo__find-partner">Find your holiday partner</button>
	</div>
</div>