.wrapper {
	width: 768px;
	margin: 0 auto;
	overflow: auto;
	font-family: sans-serif;
}

.header {
	height: 100px;
	overflow: auto;
	background: linear-gradient(to bottom, #32fffb 0%,#c6fffd 25%,#c6fffd 75%,#32fffb 100%);
}

.header__title {
	margin: 30px 40px 0;
	text-align: center;
	font-size: 30px;
}

.content__question {
	margin: 30px 15px 15px;
	font-weight: 900;
}

.content__possible-answer {
	cursor: pointer;
}

.content__answer {
	margin: 10px 0 0 45px;
}

.content__answer label {
	cursor: pointer;
}

.content__submit {
	height: 35px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 10px;
	font-size: 20px;
	background: linear-gradient(to bottom, #32fffb 0%,#c6fffd 25%,#c6fffd 75%,#32fffb 100%);
	cursor: pointer;
}

.cover-div {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(130, 130, 130, 0.4);
	
}

.message-box {
	width: 320px;
	height: 120px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: linear-gradient(to bottom, #32fffb 0%,#c6fffd 25%,#c6fffd 75%,#32fffb 100%);
	border-radius: 20px;

}

.message-text {
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: 900;
}

.message-button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 900;
	background: #00FFF6;
	cursor: pointer;
}